@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.ttf');
  }
  @font-face {
    font-family: 'Nunito-Regular';
    src: url('fonts/Nunito-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url('css/fonts/Poppins-SemiBold.ttf');
  }

  @font-face {
    font-family: 'Nunito-SemiBold';
    src: url('css/fonts/Nunito-SemiBold.ttf');
  }
  
  @font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.ttf');
  }
  
  @font-face {
    font-family: 'JuliusSansOne-Regular';
    src: url('css/fonts/JuliusSansOne-Regular.ttf');
  }
  
body{background-color: #060606;}
.appbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    height: 70px;
}
.belowappbar{padding: 50px;}

.hamburger-menu {
    background: none;
    color: rgb(0, 238, 59);
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.logo {
    max-height: 40px;
}

.right-button {
    background-image: url("css/images/10465.jpg");
    background-size: cover;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.clothes{     display: flex;
    justify-content: center; /* Center horizontally within clothes container */
    width: 100%;
    margin-top: 20px;}

    .Clothesdetails {
        width: 1000px;
        height: 500px;
        position: relative;
        z-index: 2;
        margin-bottom: -40px;
        padding: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        background-image: url('css/images/clothongpicturedetails.png');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center; 
        justify-content: center;
        cursor: pointer;
        border: none;
        color: white;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .Clothesdetails:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
    .cyclinglbl{margin-top: 100px;
    font-family: 'JuliusSansOne-Regular';
color: white;}

    .weightslbl{margin-top: 100px;
        font-family: 'JuliusSansOne-Regular'}

.cyclingessentials{   display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px;
    gap: 20px}

    .essentialimg1{background-color: transparent;
        border-color: transparent;}

        .essentialimg2{background-color: transparent;
            border-color: transparent;}

            .essentialimg3{background-color: transparent;
                border-color: transparent;}

                .essentialimg4{background-color: transparent;
                    border-color: transparent;}

    .essential1{background-image: url('css/images/pngegg.png');
        background-size: cover;
        background-color: #000000;
        border-radius:25px;
        background-position: center;
        cursor: pointer;
        width: 300px;
        height: 300px;}

        .encloser{width: 300px;
        height: 400px;
        overflow: hidden;
        border-radius: 30px;
        position: relative;
     
    background-color: rgb(255, 255, 255);}
/* 
        .itemanddescription{display: flex;
            justify-content: space-between;
            align-items: center; 
            margin-top: 20px;
            gap: 20px;
            width: 400px;
            height: 600px;
        background-color: bisque;} */
       
        

.essential2{background-image: url('css/images/pngimg.com\ -\ bicycle_helmet_PNG102542paint.png');
    background-size:cover;
    background-position: center;
    border-radius: 25px;
background-color: #000000;
    cursor: pointer;
    width: 300px;
    height: 300px;}

.essential3{background-image: url('css/images/GRAVELRED-PRODUCT-1-416x416.png');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    cursor: pointer;
    width: 300px;
    height: 300px;}

    .essential4{background-image: url('css/images/pngimg.com\ -\ bicycle_PNG5391.png');
    background-size: cover;
    background-position: center;
    background-color: #000000;
    cursor: pointer;
    border-radius: 30px;
    width: 300px;
    height: 300px;}

    .encloser:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
    .essential1:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
    .essential2:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
    .essential3:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
    .essential4:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
    .weightslbl{margin-top: 100px;}

    .Weightessentials{   display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        gap: 20px}
    
        .essentialweight1{background-image: url('css/images/pngimg.com\ -\ barbell_PNG16352.png');
            background-size: cover;
            background-position: center;
            background-color: #000000;
            border-radius: 30px;
            cursor: pointer;
            width: 300px;
            height: 300px;}
    
    .essentialweight2{background-image: url('css/images/pngimg.com\ -\ dumbbell_PNG102651.png');
        background-size: cover;
        background-position: center;
        cursor: pointer;
        border-radius: 20px;
        background-color: black;
        width: 300px;
        height: 300px;}
    
    .essentialweight3{background-image: url('css/images/pngimg.com\ -\ punching_bag_PNG74.png');
        background-size: cover;
        background-position: center;
        background-color: #000000;
        border-radius: 40px;
        cursor: pointer;
        width: 300px;
        height: 300px;}

        .essentialweight4{background-image: url('css/images/pngimg.com - gym_equipment_PNG135.png');
            background-size: cover;
            background-position: center;
            cursor: pointer;
            background-color: #000000;
            border-radius: 40px;
            width: 300px;
            height: 300px}
        .essentialweight1:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        }
        .essentialweight2:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        }
        .essentialweight3:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        }
        .essentialweight4:hover{transform: scale(1.05);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);}

        .dfthweekpic{width: 600px;
        height: 540px;
        margin-top: 100px;
        background-size: cover;
        background-image: url('css/images/pngimg.com - treadmill_PNG12.png');}

    .dfthweek{ padding: 60px;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
          margin-top: 100px;
        }
        .pricedwtw{font-family: 'JuliusSansOne-Regular';
        font-weight: 600;}   

    .dealofwkinfo{background-color: rgb(255, 255, 255);
    padding: 20px;
        width: 600px;
    margin-top: 100px;
height: 500px;}

.Dftwlbl{text-align: center;
font-family: 'JuliusSansOne-Regular';}
.Xeroname{font-family: 'JuliusSansOne-Regular'} 

.Dftwitem{font-family: 'Poppins-SemiBold'}

.pricedwtw{display: flex;
    align-items: center;}

    .salebox{background-color: black;
    width: 40px;
height: 20px;}

.salesale{text-align: center;
    font-size: 12px;
    margin-left: 5px;
color: white;
font-size: 14px;
font-family: 'Poppins-SemiBold'
}
.testingenclose{width: 200px;
    height: 200px;
background-color: aqua;}
.itemdescription{height: 100px;
    padding: 10px;
font-family: 'poppins-semibold';}
.itemprice{font-family: 'JuliusSansOne-Regular';
    color: #1e1e1e;
    font-weight: bold;
    margin-top: 5px;}

    

